- integer ==== int

- float  ==== float

- string  === str

- boolean  === bool

**Integer to other data types**

In [1]:
num1=100
type(num1)

int

In [3]:
num_float=float(num1)
num_float

100.0

In [4]:
type(num_float)

float

- num1 is a variable, stored value: 100

- num1 is an integer type

- to convert float,  float(num1)

- float(num1) gives 100.0

- float(num1) stored in a variable: num_float

- num_float is float type

In [7]:
python

10

In [6]:
python=10

In [8]:
naresh

NameError: name 'naresh' is not defined

**Name error**

- whenever if we see name error means that corresponding variable not intialized

- For example in above naresh is a variable

- Is Not defined before, thats why we are getting error

- So go above the lines and search for variable: naresh

- if you fell that is already defined then run again

In [10]:
# Integer to string conversion
num1=100
num_string=str(num1)
num_string

'100'

In [11]:
type(num_string)

str

In [12]:
# Integer to bool conversion
num1=100
num_bool=bool(num1)
num_bool

True

In [13]:
type(num_bool)

bool

In [14]:
num2=-100
num2_bool=bool(num2)
num2_bool

True

In [15]:
num3=0
num3_bool=bool(num3)
num3_bool

False

**Note**

- When boolean conversion of integer gives False

    - For  0 value , It gives Flase

In [16]:
num1=100
num1_float=float(num1)
num1_str=str(num1)
num1_bool=bool(num1)
num1_float,num1_str,num1_bool

(100.0, '100', True)

In [17]:
float(1000),str(1000),bool(1000)

(1000.0, '1000', True)

In [20]:
10,20,30

(10, 20, 30)

**Float to other data types**

In [24]:
num1=100.5  # Float
num1_int=int(num1)
num1_str=str(num1)
num1_bool=bool(num1)
num1_int,num1_str,num1_bool

(100, '100.5', True)

In [23]:
print(num1_str)

100

- first mistake conversion

- printing the string value

- providing some gap

In [25]:
int(0.0),str(0.0),bool(0.0)

(0, '0.0', False)

**String to other data type**

In [42]:
# Case-1:
str='apple'
int('apple') # error
float('apple') # error
bool('apple')  # True

ValueError: invalid literal for int() with base 10: 'apple'

In [ ]:
# Case-2:
str='apple123'
int('apple123') # Error
float('apple123') # Error
bool('apple123')  # True

In [ ]:
# Case-3:
str='0'
int('0') # 0
float('0') # 0.0
bool('0')  # True

In [ ]:
# Case-4:
str=''
int('') # error
float('') # error
bool('')  # False

In [ ]:
# Case-5:
str='10'
int('10') # 10
float('10') # 10.0
bool('10')  # True

In [28]:
int('apple')

ValueError: invalid literal for int() with base 10: 'apple'

In [29]:
float('apple')

ValueError: could not convert string to float: 'apple'

In [27]:
bool('apple')

True

In [30]:
int('apple123')

ValueError: invalid literal for int() with base 10: 'apple123'

In [31]:
float('apple123')

ValueError: could not convert string to float: 'apple123'

In [32]:
bool('apple123')

True

In [33]:
int('0')

0

In [34]:
float('0')

0.0

In [35]:
bool('0')

True

In [36]:
int('')

ValueError: invalid literal for int() with base 10: ''

In [37]:
float('')

ValueError: could not convert string to float: ''

In [38]:
bool('')

False

In [39]:
int('10')

10

In [40]:
float('10')

10.0

In [41]:
bool('10')

True

In [ ]:
# Case-6:
str='10.5'
int('10.5') # 10 ==== > error
float('10.5') # 10.5 
bool('10.5')  # True

- english letters as string represntation

    - apple

        - intger coversion fail

        - float conversion fail

        - boolean coversion True

- english letters with numbers as string  representation

    - apple123

        - intger coversion fail

        - float conversion fail

        - boolean coversion True

- 0 as string  representation

    - intger coversion will give 0

    - float conversion will give 0.0

    - boolean coversion True

- empty string as string  representation

    - intger coversion fail

    - float conversion fail

    - boolean coversion False

- 10 as string  representation

    - intger coversion will give 10

    - float conversion will give 10.0

    - boolean coversion True

- 10.5 as string  representation

     - intger coversion will fail

    - float conversion will give 010.5

    - boolean coversion True

In [43]:
int('10')

10

In [44]:
float('10.5')

10.5

In [45]:
float('10')

10.0

In [46]:
int('10.5678')

ValueError: invalid literal for int() with base 10: '10.5'

In [47]:
10.678

# 10.68
# 10.7
# 10.0
# 10

10.678

In [49]:
int(float('10.5678'))

10

**float is the boss**

float('10')

float('10.5')

**integer will works only int famliy**
int('10')

int('10.5') # Error

- boolean conversion of empty string gives False

- Otherwise True

In [52]:
bool(''),bool(' ')

(False, True)

In [53]:
len('')

0

In [54]:
len(' ')

1

In [ ]:
int(10.8) # Number system It will works
int('10.5') # This will not works

In [ ]:
int(True)  # 1
float(True) # 1.0
str(True)   # 'True'

In [ ]:
int(False)  # 0
float(False) # 0.0
str(False)   # 'False'

In [1]:
str(True)

'True'

In [2]:
str(False)

'False'

In [ ]:
sir, one doubt, in my note book , str/int/float is in green colour as it's keyword but at your end it's in black colour

In [ ]:
9701962333