In [2]:
print("the addition of {} and {} is {}".Format(10,20,30))

AttributeError: 'str' object has no attribute 'Format'

In [3]:
print("the addition of {} and {} is {}".formate(10,20,30))

AttributeError: 'str' object has no attribute 'formate'

In [4]:
print("the addition of {} and {} is {}.Format(10,20,30))

SyntaxError: unterminated string literal (detected at line 1) (2486463625.py, line 1)

- Variables

- Data types

- Type casting

- print

In [6]:
# Q1) WAP ask the user take 3 numbers find the average
# the average of num1, num2 and num3 is avg  using f string and format method
# idea
# n1=
# n2=
# n3=
# avg=(n1+n2+n3)/3
# print using format
# print using f string

n1=10
n2=20
n3=30
avg=(10+20+30)/3
print(f"The average of {n1},{n2} and {n3} is {avg}")
print("The average of {},{} and {} is {}".format(n1,n2,n3,avg))

The average of 10,20 and 30 is 20.0
The average of 10,20 and 30 is 20.0

In [8]:
(25+35+61)/3

40.333333333333336

**round**

In [9]:
round(40.5678)
# You did not provided  any decimal

41

In [19]:
round(40.5678,1)
# 34.7  marks fail  35
# 34.765    fail  35
round(34.765,2)

# after point provide only 1 value : 34.765 === 34.8
# after point provide only 2 values" 34.77

34.77

In [11]:
round(40.5678,2)

40.57

In [21]:
round(41.63456789)

42

In [22]:
round(41.63456789,1)  # 41.<6>

41.6

In [23]:
round(41.67456789,1)

41.7

In [ ]:
n1=10
n2=20
n3=30
avg=(10+20+30)/3
avg1=round(avg,2)
print(f"The average of {n1},{n2} and {n3} is {avg1}")
print("The average of {},{} and {} is {}".format(n1,n2,n3,avg1))

In [ ]:
n1=10
n2=20
n3=30
avg=round((10+20+30)/3,2)
print(f"The average of {n1},{n2} and {n3} is {avg}")
print("The average of {},{} and {} is {}".format(n1,n2,n3,avg))

In [24]:
avg=round((10+20+30)/3,2)
avg

avg=(10+20+30)/3
avg1=round(avg,2)

20.0

In [ ]:
can we put as round(40.34567,10)?

In [30]:
#Q2) WAP ask the user take height of the traingle
#                       breadth of the traingle
# calculate the area  of the right angle traingle
# Formual: 1/2*b*h

print("================= AREA OF RIGHT ANGLE TRAINGLE===================")
breadth=30
height=40
area=0.5*breadth*height  
print(f"The area of a right angle traingle having {breadth},{height} is {area}")
print("The area of a right angle traingle having {},{} is {}".format(breadth,height,area))

#######################################################################################################
#Q3) Wap ask the user take the radius of circle
#    calculate the area of the circle
# Formula: pi*r*r  where pi=3.14
print("================= AREA OF Circle===================")
radius= 20
pi=3.14
area=pi*radius*radius
print(f"The area of circle having {radius} is {area}")
print("The area of a circle having {} is {}".format(radius,area))
##########################################################################################################
#Q4) wap ask the user take the length and breadth
#    calculate area of the rectangle
# Formulae:  lenghth * breadth
print("================= AREA OF THE RECTANGLE===================")
length=30
breadth=40
area=length*breadth  
print(f"The area of the rectangle  having {breadth},{length} is {area}")
print("The area of the rectangle having {},{} is {}".format(breadth,length,area))

================= AREA OF RIGHT ANGLE TRAINGLE===================
The area of a right angle traingle having 30,40 is 600.0
The area of a right angle traingle having 30,40 is 600.0
================= AREA OF Circle===================
The area of circle having 20 is 1256.0
The area of a circle having 20 is 1256.0
================= AREA OF THE RECTANGLE===================
The area of the rectangle  having 40,30 is 1200
The area of the rectangle having 40,30 is 1200

In [31]:
#Q5) Wap ask the how much bill he wants to pay
#                how much tip percentage he wants to give
#                calculate the total bill amount

# bill amount =1000
#  you want give 10% tip = 1000*10/100
# total bill= 1000+100=1100
bill_amount=1000
tip_percentage=10
tip_amount= bill_amount*tip_percentage/100
total_bill= bill_amount+tip_amount
print(f"The total bill is : {total_bill}")

The total bill is : 1100.0

In [ ]:
# Q6)
# A story you and your dad
# He wants to knwo your marks
# He wants to know your percentage of marks

# son: Hey dad
# Dad: Hi beta
# Son: wahtsup dad
# Dad : i got to know that your exams results are out
# Son : yes dad
# Dad : Do you pass the exam
# Son : Ofcourse dad
# Dad: Tell me the percentage
# Son: You know maths , I will give the score cal per
# Dad: Okay
# Telugu : 91
# Hindi  : 82
# English : 92
# Maths  : 89
# Science : 90
# Social  : 94
# Perc 
# Print the per

In [35]:
print("Son: Hey dad!")
print("Dad: Heyyyyy son!")
print("Son: Whatsupp!")
print("Dad: I heard that you results are out, did you pass?")
print("Son: Why won't I? I am your son!")
print("Dad: What's your score?")
print("Son: I'll tell you the marks you calculate the percentage")
print("Dad: Okay!")
Telugu = 91 
Hindi = 82
English = 92
Maths = 89
Science = 90
Social =94 
percentage = (Telugu+Hindi+English+Maths+Science+Social)/6
round_percentage=round(percentage,2)
print(f"Dad: You scored {round_percentage}%")

Son: Hey dad!
Dad: Heyyyyy son!
Son: Whatsupp!
Dad: I heard that you results are out, did you pass?
Son: Why won't I? I am your son!
Dad: What's your score?
Son: I'll tell you the marks you calculate the percentage
Dad: Okay!
Dad: You scored 89.67%

In [37]:
#Q7)
# you went pub : bill 10k
# american guy
# you have only dollars
# pub will take only rupees
# You need to create a story between American guy and pub manager

# where you want to apply print
# where you want to take variables
# where you will do calculations

print("Guy: One tequila please.")
print("Bartender: Coming right up!")
print("Guy: That hits the spot, thanks!")
print("Bartender: Do you want anything else?")
print("Guy: No, thanks. Bill me.")
print("Bartender: That will be around...₹ 504/-")
bill=504
print("Guy: I don't have rupeesHow much in dollars?")
print("Bartender: we will accept only indian rupees")
print("Guy:How much in dollars?")
one_dollar_in_rupees=84
in_dollars=bill/one_dollar_in_rupees
print(f"Bartender: Around...$ {in_dollars}")
print("Guy: Here you go.")

Guy: One tequila please.
Bartender: Coming right up!
Guy: That hits the spot, thanks!
Bartender: Do you want anything else?
Guy: No, thanks. Bill me.
Bartender: That will be around...₹ 504/-
Guy: I don't have rupeesHow much in dollars?
Bartender: we will accept only indian rupees
Guy:How much in dollars?
Bartender: Around...$ 6.0
Guy: Here you go.

In [ ]:
print("Pub mang:your bill is 10k rupees")
print("Guy: ok! i have only dollars")
print("Pub mang: Sorry sir we accept only rupees")
print("Guy: Pls take my dollars and accept")
print("Pub mang:sorry sir u can visit exchange center and give me rupees")
print("Guy :ok where it is??")
print("pub mang: it is opp to another road")
amnt_doll=10000/80
print(f"Guy:ur amount in dollar is {amnt_doll}")
print("Pub mang: Thank u sir!!")
# variables also not mentioned

In [38]:
TotalBillInRupees = 10000
USDToINRConversionRate = 80
TotalBillInUSD=TotalBillInRupees/USDToINRConversionRate
print('American Customer: What is the bill')
print(f'Hyderabad Hotel manager: Total bill is {TotalBillInRupees}')
print('American Customer: I can only pay in USD')
print('Hyderabad Hotel manager: Okay pay in USD')
print('Hyderabad Hotel manager: USD to INR conversion rate is 80')
print(f'Hyderabad Hotel manager: Total bill in USD:{TotalBillInUSD}')

American Customer: What is the bill
Hyderabad Hotel manager: Total bill is 10000
American Customer: I can only pay in USD
Hyderabad Hotel manager: Okay pay in USD
Hyderabad Hotel manager: USD to INR conversion rate is 80
Hyderabad Hotel manager: Total bill in USD:125.0

In [39]:
10e-1    # 10/10

1.0

In [40]:
10e-3   # 10/1000 = 0.01

0.01

In [41]:
10e-6

1e-05

In [42]:
12***3

SyntaxError: invalid syntax (440139519.py, line 1)

In [44]:
12e-3  # 12*1000 12/1000

0.012

In [ ]:
e3= 10^3