**print statments**

- print is a inbulit function , to see the answers

- In Jupyter notebook we can see latest value with out using print

- If you want to see all the values we need to use print

- In VScode , pycharm there is no markdown option

- If you want to see any answer, we need to use print statement

In [1]:
num1=100
num2=200
num1
num2

200

In [2]:
num1=100
num2=200
print(num1)
print(num2)

100
200

In [5]:
num1=100
num2=200
print(num1,num2)
print(10,20,30)
print('hello')
print('hello','bye')
print('hello','bye',num1,num2,10,20)

100 200
10 20 30
hello
hello bye
hello bye 100 200 10 20

In [8]:
str1="hello"
print(str1)

hello

In [10]:
if True:
    print(10)

SyntaxError: expected ':' (3113249734.py, line 1)

In [19]:
a=10
b=20
c=a+b
c
# The addition of 10 and 20 is 30
print("The addition of 10 and 20 is 30")
print("The addition of a and b is c")
print("The addition of",a,'and',b,'is',c)

The addition of 10 and 20 is 30
The addition of a and b is c
The addition of 10 and 20 is 30

In [29]:
a=100
b=200
c=a+b
c
# The addition of 10 and 20 is 30
print("The addition of 10 and 20 is 30")
print("The addition of a and b is c")
print("The addition of",a,"and",b,'is',c)

The addition of 10 and 20 is 30
The addition of a and b is c
The addition of 100 and 200 is 300

In [34]:
#Name='python'
#Age='10'
#City='Hyd'
# My name is Python , Im 10 years old and came from Hyd
name='python'
age=10
city='Hyd'
print("My name is python, Im 10 years old and I came from Hyd")
print("My name is", name,',',"Im", age, "years old and I came from",city)

My name is python, Im 10 years old and I came from Hyd
My name is python , Im 10 years old and I came from Hyd

**Format method**

In [37]:
a=10
b=20
c=a+b
# How you want to write the print
# the addition of 10, 20 is 30
print("The addition of 10,20 is 30")
print("The addition of {},{} is {}")
print("The addition of {},{} is {}".format(a,b,c))

The addition of 10,20 is 30
The addition of {},{} is {}
The addition of 10,20 is 30

In [41]:
name='python'
age=10
city='Hyd'
print("My name is python, Im 10 years old and I came from Hyd")
print("My name is {}, Im {} years old and I came from {}".format(name,age,city))
print("My name is {}, Im {} years old and I came from {}".format(city,age,name))

My name is python, Im 10 years old and I came from Hyd
My name is python, Im 10 years old and I came from Hyd
My name is Hyd, Im 10 years old and I came from python

In [ ]:
# Take two number
# add
# mul
# sub
# div
# n1=<number one>
# n2=<number two>
# add=<>
# sub=<>
# mul=<>
# div=<>
# The addition of n1 and n2 is add
# The subtraction of n1 and n2 is sub

In [42]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2

print("The addition of {} and {} is {}".format(n1,n2,add))
print("The subtraction of {} and {} is {}".format(n1,n2,sub))
print("The multuplication of {} and {} is {}".format(n1,n2,mul))
print("The division of {} and {} is {}".format(n1,n2,div))

The addition of 100 and 200 is 300
The subtraction of 100 and 200 is -100
The multuplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5

**F-string method**

In [50]:
a=10
b=20
c=a+b
# How you want to write the print
# the addition of 10, 20 is 30
print("The addition of 10,20 is 30")
print("The addition of {},{} is {}")
print("The addition of {a},{b} is {c}")
print(f"The addition of {a},{b} is {c}")

The addition of 10,20 is 30
The addition of {},{} is {}
The addition of {a},{b} is {c}
The addition of 10,20 is 30

In [52]:
name='python'
age=10
city='Hyd'
print("My name is python, Im 10 years old and I came from Hyd")
print("My name is", name,',',"Im", age, "years old and I came from",city)
print("My name is {}, Im {} years old and I came from {}".format(name,age,city))
print(f"My name is {name}, Im {age} years old and I came from {city}")

My name is python, Im 10 years old and I came from Hyd
My name is python , Im 10 years old and I came from Hyd
My name is python, Im 10 years old and I came from Hyd
My name is python, Im 10 years old and I came from Hyd

In [53]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2

print(f"The addition of {n1} and {n2} is {add}")
print(f"The subtraction of {n1} and {n2} is {sub}")
print(f"The multuplication of {n1} and {n2} is {mul}")
print(f"The division of {n1} and {n2} is {div}")
# The addition is add,The subtraction is sub,The multiplication mul, the division is div

The addition of 100 and 200 is 300
The subtraction of 100 and 200 is -100
The multuplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5

In [54]:
print(f"The addition is {add},The subtraction is {sub},The multiplication {mul}, the division is {div}")

The addition is 300,The subtraction is -100,The multiplication 20000, the division is 0.5

**end**

In [55]:
print(10)
print(20)

# Using two print statements 
# we need to write 10,20

10
20

In [56]:
print(10,20)

10 20

In [64]:
print(10,end='')
print(20)

1020

In [65]:
print(10,end='-->')
print(20)

10-->20

In [69]:
print(10,end='-->')
print(20,end='-->')
print(30)

10-->20-->30

**Sep**

In [76]:
# using one print statement
# 10-->20-->30
# print(10,'-->',20,'-->')

# Sepearting the all values inside print statements
print(10,20,30,sep='-->')
print(10,20,30,sep='*')

10-->20-->30
10*20*30

In [78]:
# 10+20=30
print(10,end='+')
print(20,end='=')
print(30,'.',sep='')

10+20=30.

In [80]:
print(10,20,sep='+',end='=')
print(30)

10+20=30

- Format method

- F string method

- sep

- end

In [84]:
name='vicky'
print("my name is vicky")
print("my name is {}".format(name))

my name is vicky
my name is vicky

In [85]:
# Sepearting the all values inside print statement
# end will join the multiple print statement values
print(10,end=' ')
print(20)

10 20

In [87]:
print(10,20,sep='Vicky')

10Vicky20