**Variables**

- Dont do over action
- only action
- chat with gpt

- Variables are used to store the values

- Variables can change their values

- Varyyyy : Varying

In [2]:
number=100
number

# 100 is storing in a variable called 'number'

100

In [3]:
number=200
number

200

raviteja is learning python
code mode is used to write the code
markdown mode is used to write the story

square brackets are there before cell : code mode
esc+m

In [4]:
raviteja=500
# 500 is a values stored in a variable raviteja

In [5]:
raviteja= 50000
raviteja

50000

In [6]:
raviteja=500000
raviteja

500000

In [7]:
raviteja1=25000
raviteja1
# type ra 
# enter tab
# you can see the names which are starting with 'ra'

25000

In [8]:
lakshmi=100

In [9]:
NUMBER=200
NUMBER

200

In [10]:
NUMber=300
NUMber

300

In [11]:
number123=400
number123

400

In [12]:
123number=500
123
# Varaibles does not have numbers as prefix
# Variables should not start with numbers

SyntaxError: invalid decimal literal (3379286347.py, line 1)

In [13]:
Number*one=500
Number*one

# Variables does not have spl characters

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2320124088.py, line 1)

In [14]:
number_one=600
number_one

# Variables can have underscores

600

In [15]:
_= 900
_

# Only underscore can represent as variables

900

- Variables are case sensitive

- Variables can represent as Capital letters

- Variables can represent as Small letters

- Varaibles can have both comninations

- Python will consider latest value

- Variables does not start with numbers

- Variables can have numbers at last

- Variables does not contain any spl charcater , except Underscore

- Variables does not contain any space between the letters : number one

- Only underscore can use as variables

- Keywords or reserved words will not use as Variables : if , else

In [16]:
number_123_two=900
number_123_two

900